.html {
    font-family: 'Tangerine', cursive;
}

.nav-bar-custom {
    background-color: rgb(8, 93, 133);
    color: white;
}

.cover-image {
    position: relative;
    text-align: center;
    color: white;
}

.cover-image-img {
    width: 100%;
    object-fit: cover;
}

.cover-image-p {
    position: absolute;
    font-size: 3.2vmax;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 60px rgb(226, 226, 226);
}

.social-links-div {
    display: block;
    position: absolute;
    width: 100%;
}

.social-links {
    display: inline-block;
    font-size: 3.5vmax;
    margin: 3vw;
    color: white;
    text-decoration: none;
    font-style: normal;
    text-align: center;
    width: auto;
    padding-left: 0;
    margin-top: 13vw;
    text-shadow: 0 0 40px rgb(143, 143, 143);
}

.social-links-div-contact {
    display: block;
    width: 100%;
}

.social-links-contact {
    display: inline-block;
    font-size: 3.5vmax;
    margin: 3vw;
    color: white;
    text-decoration: none;
    font-style: normal;
    text-align: center;
    width: auto;
    padding-left: 0;
    margin-top: 13vw;
    text-shadow: 0 0 40px rgb(143, 143, 143);
}

a.social-links:hover {
    color: rgb(107, 151, 137);
}

.about {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
}

.features {
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
}

.fonty {
    font-family: 'Abril Fatface', cursive;
}

.datingdoname {
    padding-left: 10px;
    font-family: 'Tangerine', cursive;
    font-size: 25px;
}

.h1 {
    font-family: 'Tangerine', cursive;
}

.h1script {
    font-family: 'Beau Rivage', cursive;
    font-weight: bold;
}

.features-title {
    margin-top: 40px;
}

.h2serif {
    font-family: 'Tiro Kannada', serif;
    font-size: 3.7vmin;
}

.featuresleft {
    background-color: rgb(175, 233, 248);
    padding-bottom: 30px;
    padding-top: 5px;
}

.featuresright {
    background-image: url(styles-images/POGIMAGE.jpg);
    background-size: cover;
    min-height: fit-content;
    padding-bottom: 15px;
    background-repeat: no-repeat;
}

.pricing {
    padding: 30px 0;
    background-color: rgb(218, 241, 247);
}

.pricingcontian {
    margin: 0 2.6vmax;
}

.footer {
    padding-top: 15px;
    margin: 0;
}

.h3serif {
    font-family: 'EB Garamond', serif;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    box-shadow: 0 0 50px rgb(107, 151, 137);
}

.customer-feedback {
    padding: 30px 0;
    background-color: rgb(31, 45, 49);
}

.feedbackcontain {
    margin: 0 3vmax;
}